In [6]:
from sklearn.feature_extraction.text import CountVectorizer
corpus=['this burger is very tasty and affordable.','this burger is not tasty and is affordable.','this burger is very very delicious.']
cv=CountVectorizer(analyzer='word', ngram_range=(2, 2))
x=cv.fit_transform(corpus)
r=x.toarray()
print(r)

[[1 0 1 0 0 1 0 1 1 0 1 0]
 [0 1 1 1 1 0 1 1 1 0 0 0]
 [0 0 1 0 0 1 0 0 1 1 0 1]]

In [7]:
features=cv.get_feature_names()
features

['and affordable',
 'and is',
 'burger is',
 'is affordable',
 'is not',
 'is very',
 'not tasty',
 'tasty and',
 'this burger',
 'very delicious',
 'very tasty',
 'very very']

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus=['this burger is very tasty and affordable.','this burger is not tasty and is affordable.','this burger is very very delicious.']
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)
featur=vectorizer.get_feature_names()
print(featur)
#array(['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third',
       #'this'], ...)
print(X.shape)

['affordable', 'and', 'burger', 'delicious', 'is', 'not', 'tasty', 'this', 'very']
(3, 9)

In [14]:
import pandas as pd
matrix=X.todense()
list1=matrix.tolist()
df=pd.DataFrame(list1,columns=featur)
df
#print(matrix)

   affordable       and    burger  ...     tasty      this      very
0    0.414896  0.414896  0.322204  ...  0.414896  0.322204  0.414896
1    0.346117  0.346117  0.268791  ...  0.346117  0.268791  0.000000
2    0.000000  0.000000  0.282851  ...  0.000000  0.282851  0.728445

[3 rows x 9 columns]